HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/


# GIT
.git/

# Java
*.class
# packages 
*.jar
*.war
*.ear

# Eclipse
.settings/
.buildpath
.classpath
.project

### VS Code ###
.vscode/
