<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
  <div th:fragment="pizzaDetailsTransient"  th:each="pizza: ${order.pizzas}">
  <fieldset>
  <legend th:text="'Pizza #' + ${pizza.pizzaId}"></legend>
  <form th:action="@{/orders/} + ${order.orderId} + '/pizzas/' + ${pizza.pizzaId} + '/delete'" method="post">
  <button>Remove pizza from order</button>
  </form>
  <div th:replace="fragments/pizza-details :: pizzaDetails"></div>
  </fieldset>
  </div>
  
  
  <div th:fragment="pizzaDetailsFinal"  th:each="pizza: ${order.pizzas}">
  <fieldset>
  <legend th:text="'Pizza #' + ${pizza.pizzaId}"></legend>
  <div th:replace="fragments/pizza-details :: pizzaDetails"></div>
  </fieldset>
  </div>
  
  <div th:fragment="pizzaDetails">
  
  Size: <span th:text="${pizza.size.description}"></span> <br/>
  Crust: <span th:text="${pizza.crustType.description}"></span> <br/>
  Toppings: <span th:each="topping, status : ${pizza.toppings}" th:text="${status.last ? topping.description : topping.description + ', '}"></span> <br/>
  <span>----------</span> <br/>
  Price: <span th:text="'$ ' + ${#numbers.formatDecimal(pizza.price, 0, 'COMMA', 2, 'POINT')}"></span>
  
  <br/>
  </div>
</body>
</html>