<!DOCTYPE html>
<html >
<meta charset="UTF-8">
<div th:fragment ="myheader">

 <header>

    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">E.K.O PIZZA ORDERING</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><a href="#intro">Home Page</a></li>
				<li><a href = "pizza.html">View Menu</a></li>
				<li><a href = "customerRegistration.html">Registration</a></li>
				<li><a href="pizzaDetail.html">Order Pizza</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>
 </header>
  <!-------Header end --->
<!-- SlideShow Begin -->
  <section id="intro">
    <ul id="slippry-slider">
      <li>
        <a href="#slide1"><img src="assets/img/slide/1.jpg" alt="Welcome to Pizza Ordering!"></a>
      </li>
      <li>
        <a href="#slide2"><img src="assets/img/slide/4.jpg" alt="The Home of Tasty Pizza"></a>
      </li>
      <li>
        <a href="#slide3"><img src="assets/img/slide/5.jpg" alt="Check out our great Menu, you are going to <span class='red'>♥</span> it :)"></a>
      </li>
    </ul>
  </section>
</div>
<body>

</body>
</html>