<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Orders</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
    <!-- styles -->
  <link rel="stylesheet" href="assets/css/fancybox/jquery.fancybox.css">
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/slippry.css">
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/color/default.css">
  <script src="assets/js/modernizr.custom.js"></script>
  <!-- =======================================================-->
 <style>

</style>
 
</head>
<body>

<div id = "container-fluid">
<!-------Header start --->
<div th:replace ="header :: myheader"></div>
 <!-- SlideShow end -->
  
<!---***place code here***-->
<!-- <h3 th:text="${order.customer.firstName}"></h3> -->
	<h1 class="container">Orders Page</h1>
<!-- Section Menu -->
  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="heading">
            <h3><span>OUR DELICIOUS MENU</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              Check out our amazing Menu and Discounts.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="team-box">
            <img src="assets/img/dummies/chicken.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Chicken Pizza</strong></h5>
              <p>
                with Choice of Topping
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="assets/img/dummies/pepperoni.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Pepperoni Pizza</strong></h5>
              <p>
                with Choice of  Topping
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="assets/img/dummies/veggie.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Veggies Pizza</strong></h5>
              <p>
                All Veggies  Available
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-box">
            <img src="assets/img/dummies/cheese.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Cheese Pizza</strong></h5>
              <p>
                Variety Of Cheese
              </p>
            </div>
          </div>
        </div>
		<div class="col-md-3">
          <div class="team-box">
            <img src="assets/img/dummies/super.jpg" alt="" class="img-responsive" />
            <div class="roles">
              <h5><strong>Famous Supreme Pizza</strong></h5>
              <p>
                All Options
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section Menu -->

 <div class ="container"> 
  <!-- This is for editing individual orders -->
  <div th:if="${order} != null">
  
  <form th:action="@{/orders/} + ${order.orderId}" method="post">
    <button>Add pizza to order</button>
  </form>
  <a th:href="@{/orders/} + ${order.orderId} + '/review'">Review order</a>
  <a th:href="@{/orders}">Back to orders</a>
  </div>
  
   <!-- This is for viewing and editing all orders -->
  <div th:if="${orders} != null">
  <form action="" method="post">
    <button>Create new order</button>
  </form>
  <h1>All Orders</h1>
	<div th:each="order: ${orders}">
  <h2 th:text="'Order #' + ${order.orderId}"></h2>
  <a th:if="${order.completed == false}" th:href="@{/orders/} + ${order.orderId}">Edit Order</a>
  <div th:each="pizza: ${order.pizzas}">
  <fieldset>
  <legend th:text="'Pizza #' + ${pizza.pizzaId}"></legend>
  Size: <span th:text="${pizza.size.description}"></span> <br/>
  Crust: <span th:text="${pizza.crustType.description}"></span> <br/>
  Toppings: <span th:each="topping, status : ${pizza.toppings}" th:text="${status.last ? topping.description : topping.description + ', '}"></span> <br/>
  </fieldset>
  </div>
  
  <hr/>
  </div>
  </div>
  </div>
<!-----End Code Here----->


<!-------Footer Begin--->
 <div th:insert = "footer :: foot"></div>
</div>
</body>
</html>
