<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Online Pizza Order - Order you Pizza here</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
    <!-- styles -->
  <link rel="stylesheet" href="assets/css/fancybox/jquery.fancybox.css">
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/slippry.css">
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/color/default.css">
  <script src="assets/js/modernizr.custom.js"></script>
  <!-- =======================================================-->
 <style>

</style>
</head>
<body>
<div id = "container-fluid">
<!-------Header start --->
<div th:replace ="header :: myheader"></div>
 <!-- SlideShow end -->
  
<br/><br/>
<div class = "container">
<!---***place code here***-->
	<form th:object="${pizzaMeal}" th:action="@{/buildPizzaMeal}" method=POST>
	

	<!-- select pizza name -->
	Pizza Name: <select  th:field="*{name}" >
						<option value="">Nothing selected</option>
                        <option th:each="pizza : ${T(dmacc.util.PizzaName).values()}"
                                th:value="${pizza}"
                                th:text="${pizza}">pizza
                        </option>
				</select>
	
	
	<!-- select pizza size -->
	Pizza Size:<select  th:field="*{size}" >
						<option value="">Nothing selected</option>
                        <option th:each="pizzaSize : ${T(dmacc.util.PizzaSize).values()}"
                                th:value="${pizzaSize}"
                                th:text="${pizzaSize}">Size
                        </option>
				</select>
	
	<!-- select from the items to add on -->
		<ul>
			<li th:field="*{itemsList[__${i.index}__]}" th:each="item, i : ${itemsList}">
				<input type="checkbox"  th:field="*{itemsList[__${i.index}__]}"   th:value="${item.itemName}"/> 
				 <label th:text="${item.itemName}"></label>
			</li>
		</ul>
	
		<input name="Submit" type="submit" value="submit" />
	</form>
	<p><a href="../newPizza" type = "button">View Order</a></p><br/>
	<p><a href="../addCustomer">Add a new customer</a></p>
</div>
<!-----End Code Here----->


<!-------Footer Begin--->
<div th:insert = "footer :: foot"></div>
</div>
</body>
</html>
