<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All Books</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
    <!-- styles -->
  <link rel="stylesheet" href="assets/css/fancybox/jquery.fancybox.css">
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/slippry.css">
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/color/default.css">
  <script src="assets/js/modernizr.custom.js"></script>
  <!-- =======================================================-->
 <style>

</style>
 
</head>
<body>

<div id = "container-fluid">
<!-------Header start --->
<header>

    <div id="navigation" class="navbar navbar-inverse navbar-fixed-top default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">E.K.O PIZZA ORDERING</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">Home Page</a></li>
				<li><a href = "#about">View Menu</a></li>
				<li><a href = "customerRegistration.html">Registration</a></li>
				<li><a href="pizzaDetail.html">Order Pizza</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>
 </header>
  <!-------Header end --->
<!-- SlideShow Begin -->
  <section id="intro">
    <ul id="slippry-slider">
      <li>
        <a href="#slide1"><img src="assets/img/slide/1.jpg" alt="Welcome to Pizza Ordering!"></a>
      </li>
      <li>
        <a href="#slide2"><img src="assets/img/slide/2.jpg" alt="The Home of Tasty Pizza"></a>
      </li>
      <li>
        <a href="#slide3"><img src="assets/img/slide/3.jpg" alt="Check out our great Menu., you are going to <span class='red'>♥</span> it :)"></a>
      </li>
    </ul>
  </section>
 <!-- SlideShow end -->
  
<!---***place code here***-->
<br/><br/>
<div class = "container">
<p>Your Meal Order Description</p>
</div>
<div class = "container">
	<form>
		<table>
			<tbody th:each="currentPizza : ${pizzaDetail}">
				<tr>
					<td>Meal Type : </td>
					<td th:text="${currentPizza.name}"/>
				</tr>
				<tr>
					<td> Meal Size : </td>
					<td th:text="${currentPizza.size}" />
				</tr>
				<tr>
					<td> Total Price :$ </td>
					<td th:text="${currentPizza.totalPrice}" /> 					
				</tr>	
			</tbody>	
		</table>
	</form>
	<a href="../newPizza" type ="button">Build Another Pizza</a>
</div>
<!-----End Code Here----->


<!-------Footer Begin--->
 <footer>
  <a href="#" class="scrollup"><i class="fa fa-angle-up fa-2x"></i></a>
  <!-- java Script -->
  <script src="assets/js/jquery-1.9.1.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/classie.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/slippry.min.js"></script>
  <script src="assets/js/nagging-menu.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/jquery.scrollTo.js"></script>
  <script src="assets/js/jquery.fancybox.pack.js"></script>
  <script src="assets/js/jquery.fancybox-media.js"></script>
  <script src="assets/js/masonry.pkgd.min.js"></script>
  <script src="assets/js/imagesloaded.js"></script>
  <script src="assets/js/jquery.nicescroll.min.js"></script>
  <script src="assets/js/AnimOnScroll.js"></script>
  <script>
    new AnimOnScroll(document.getElementById('grid'), {
      minDuration: 0.4,
      maxDuration: 0.7,
      viewportFactor: 0.2
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#slippry-slider').slippry(
        defaults = {
          transition: 'vertical',
          useCSS: true,
          speed: 5000,
          pause: 3000,
          initSingle: false,
          auto: true,
          preload: 'visible',
          pager: false,
        }
      )
    });
  </script>

  <script src="assets/js/custom.js"></script>
  </footer>
</div>
</body>
</html>
