<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Books</title>
</head>
<body>
	<form>
		<table>
			<tbody th:each="currentPizza : ${pizzaDetail}">
				<tr>
					<td>Meal Type : </td>
					<td th:text="${currentPizza.name}"/>
				</tr>
				<tr>
					<td> Meal Size : </td>
					<td th:text="${currentPizza.size}" />
				</tr>
				<tr>
					<td> Total Price : </td>
					<td th:text="${currentPizza.totalPrice}" /> 					
				</tr>	
			</tbody>	
		</table>
		Customer Id: <input name="customerId" size="20"  ><br />
		Credit Card Num: <input name="creditCardId" size="20"  ><br />
	</form>
	<a href="../newPizza">Place an order</a>

</body>
</html>