<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Pizza</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
    <!-- styles -->
  <link rel="stylesheet" href="assets/css/fancybox/jquery.fancybox.css">
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/css/slippry.css">
  <link href="assets/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="assets/color/default.css">
  <script src="assets/js/modernizr.custom.js"></script>
  <!-- =======================================================-->
 <style>

</style>
 
</head>
<body>

<div id = "container-fluid">
<!-------Header start --->
<div th:replace ="header :: myheader"></div>
 <!-- SlideShow end -->
  
<!---***place code here***-->
<div class = "container">
</div>

<h1>Create your pizza</h1>

	<form action="" method="post">
		<fieldset>
			Size: <select th:field="${pizza.size}">
				<option value=""></option>
				<option th:each="pizzaSize: ${pizzaSizes}"
					th:value="${pizzaSize}"
					th:text="${pizzaSize.description}"></option>
			</select> 
			<br /> 
			Crust Type: <select th:field="${pizza.crustType}">
				<option value=""></option>
				<option th:each="pizzaCrustType: ${pizzaCrustTypes}"
					th:value="${pizzaCrustType}"
					th:text="${pizzaCrustType.description}"></option>

			</select>
		</fieldset>
		<fieldset>
			Toppings:
			<div th:each="topping: ${toppings}">
				<input type="checkbox" th:value="${topping.toppingId}" th:field="${pizza.toppings}" /> 
					<label th:for="${#ids.prev('toppings')}" th:text="${topping.description}"></label>
				<br />
			</div>
		</fieldset>
		<button>Add Pizza to Order</button>
	</form>
<!-----End Code Here----->


<!-------Footer Begin--->
 <div th:insert = "footer :: foot"></div>
</div>
</body>
</html>
